[tool.pytest.ini_options]
asyncio_mode = "auto"
main_file = "serve_website.py"
addopts = "-p nicegui.testing.user_plugin"

[tool.mypy]
python_version = "3.10"
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
    "nicegui.*",
    "scipy.*",
    "numpy.*",
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py310"
indent-width = 4
line-length = 120

[tool.ruff.lint.flake8-quotes]
inline-quotes = "single"
multiline-quotes = "single"
docstring-quotes = "double"
avoid-escape = true

[tool.ruff.lint]
select = [
    "I",   # isort
    "E",   # pycodestyle
    "W",   # pycodestyle
    "B",   # bugbear
    "F",   # pyflakes
    "UP",  # pyupgrade
    "RUF", # ruff
    "PL",  # pylint
    "Q",   # flake8-quotes
]
fixable = [
    "I",      # isort
    "UP035",  # deprecated import
    "RUF022", # `__all__` is not sorted
    "Q000",   # bad quotes inline string
    "Q001",   # bad quotes multiline string
    "Q002",   # bad quotes docstring
    "Q003",   # avoidable escaped quote
    "Q004",   # unnecessary escaped quote
]
ignore = [
    "E501",    # line too long
    "PLC0415", # import outside top level
    "PLR0911", # too many return statements
    "PLR0912", # too many branches
    "PLR0913", # too many arguments
    "PLR0915", # too many statements
    "PLR2004", # magic value comparison
]

[tool.pylint]
disable = [
    "C0103", # Invalid name
    "C0114", # Missing module docstring
    "C0115", # Missing class docstring
    "C0116", # Missing function docstring
    "C0301", # Line too long
    "C0302", # Too many lines in module
    "R0801", # Similar lines in files
    "R0901", # Too many ancestors
    "R0902", # Too many instance attributes
    "R0903", # Too few public methods
    "R0904", # Too many public methods
    "R0911", # Too many return statements
    "R0912", # Too many branches
    "R0913", # Too many arguments
    "R0914", # Too many local variables
    "R0915", # Too many statements
    "R0917", # Too many positional arguments
    "R1705", # Unnecessary "else" after "return"
    "W0102", # Dangerous default value as argument
    "W0718", # Catching too general exception
    "W1203", # Use % formatting in logging functions
    "W1514", # Using open without explicitly specifying an encoding
]

[tool.codespell]
skip = '*.json,*.lock'
check-hidden = true
